{{>header}}
<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3">Customer Relation Manager</h1>
    <p class="lead">Lets's make this world a better place!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/users" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/users/login" role="button">Login</a>

  </div>
</div>

</body>
</html>
